
<div *ngIf="user">
    <h2>USER: {{user.username | uppercase}}</h2>
    <div><span>Followers: </span>{{followers}}</div>
    <div>
      <label for="user-name">User name: </label>
      <input id="user-name" [(ngModel)]="user.username" placeholder="name">
    </div>
  </div>

<div class="topMovies">

<div><h3>Movies Popular Amongst My Friends:</h3></div>
<a *ngFor="let movie of friends">
  <div>{{movie}}</div>
  <span></span>
</a>

  <div class = "tenMovies">
    <div><h3>Your Top Ten:</h3></div>
  <a *ngFor="let movie of tenMovies">
    <div>{{movie}}</div>
    <span></span>
  </a>
</div>


<div><h3>Recommendation:</h3></div>
  <div class = "tenMovies">
  <a *ngFor="let movie of recommendation">
    <div>{{movie}}</div>
    <span></span>
  </a>
</div>

</div>

  <app-collections></app-collections>
