
<div *ngIf="user">
    <h2>USER: {{user.username | uppercase}}</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label for="user-name">User name: </label>
      <input id="user-name" [(ngModel)]="user.username" placeholder="name">
    </div>
  </div>

<div class="topMovies">

<h3>Movies Popular Amongst My Friends:</h3>
<div class = "friends">
<a *ngFor="let movie of friends">
  <div>{{movie}}</div>
  <span></span>
</a>
</div>
  
  <h3>Your Top Ten:</h3>
  <div class = "tenMovies">
  <a *ngFor="let movie of tenMovies">
    <div>{{movie}}</div>
    <span></span>
  </a>
</div>


<h3>Recomendation:</h3>
  <div class = "recommendation">
  <a *ngFor="let movie of recommendation">
    <div>{{movie}}</div>
    <span></span>
  </a>
</div>

</div>

  <app-collections></app-collections>
