
<div id="search-component">
  <div>
    <label for="search-box">Search Title</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
      <li *ngFor="let movie of movies$ | async" >
        <a routerLink="/detail/{{movie.id}}">
          <table>
            <td>{{movie.name}}</td>
            <td>{{movie.releaseDate}}</td>
            <td>{{movie.castMembers}}</td>
            <td>{{movie.studio}}</td>
            <td>{{movie.genre}}</td>
        </table>
        </a>
      </li>
    </ul>

</div>

    