
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Number of Movies</th>
          <th>Total Watch Time</th>
          <th>Go to collection</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections">
          <td>{{ collection.id }}</td>
          <td>{{ collection.name }}</td>
          <td>{{ collection.size }}</td>
          <td>{{ collection.length }}</td>
          <td>
            <a routerLink="/collections/{{collection.id}}">
              <button type="button"> Collection </button>
            </a>
          </td>
          <td>
            <button type="button" class="delete" title="delete collection"
            (click)="delete(collection)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  <div>
    <label for="new-collection">Collection name: </label>
    <input id="new-collection" #collectionName />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(collectionName.value); collectionName.value=''">
      Add collection
    </button>
  </div>