<h2>LIST OF MOVIES</h2>

<app-filter-movies></app-filter-movies>

<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Release Date</th>
        <th>Cast Members</th>
        <th>Genre</th>
        <th>Studio</th>
        <th>Go to movie</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.releaseDate }}</td>
        <td>{{ movie.castMembers }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.studio }}</td>
        <td>
          <a routerLink="/detail/{{movie.id}}">
            <button type="button"> Movie </button>
          </a>
        </td>
        <td>
          <button type="button" class="delete" title="delete movie"
          (click)="delete(movie)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--
<ul class="movies">
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Cast Members</th>
      <th>Genre</th>
      <th>Studio</th>
      <th>Remove</th>
    </tr>

  <tr *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">
        <td>{{movie.id}} </td>
      </span> 
        <td>{{movie.name}}</td>
        <td>{{movie.releaseDate}}</td>
        <td>{{movie.castMembers}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.studio}}</td>
    </a>
    <td><button type="button" class="delete" title="delete movie"
      (click)="delete(movie)">x</button></td>
  </tr>
</table>
</ul>

-->

<div>
  <label for="new-movie">Movie name: </label>
  <input id="new-movie" #movieName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(movieName.value); movieName.value=''">
    Add movie
  </button>
</div>

<div>
  <button type="button" class="title-button" (click)="getMoviesByName()"> 
    Title</button>
    <button type="button" class="release-date-button" (click)="getMoviesByReleaseDate()"> 
      Release Year</button>
    <button type="button" class="cast-members-button" (click)="getMoviesByCastMembers()"> 
      Cast Members</button>
    <button type="button" class="studio-button" (click)="getMoviesByStudio()"> 
      Studio</button>
    <button type="button" class="genre-button" (click)="getMoviesByGenre()">
      Genre</button>
</div>

