<h2>LIST OF MOVIES</h2>
<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">
        {{movie.id}} </span> 
        {{movie.name}}: {{movie.releaseDate}}: {{movie.castMembers}}: {{movie.studio}}: {{movie.genre}}
    </a>
    <button type="button" class="delete" title="delete movie"
      (click)="delete(movie)">x</button>
  </li>
</ul>

<div>
  <label for="new-movie">Movie name: </label>
  <input id="new-movie" #movieName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(movieName.value); movieName.value=''">
    Add movie
  </button>
</div>

<div>
  <button type="button" class="title-button" (click)="getMoviesByName()"> 
    Title</button>
    <button type="button" class="release-date-button" (click)="getMoviesByReleaseDate()"> 
      Release Year</button>
    <button type="button" class="cast-members-button" (click)="getMoviesByCastMembers()"> 
      Cast Members</button>
    <button type="button" class="studio-button" (click)="getMoviesByStudio()"> 
      Studio</button>
    <button type="button" class="genre-button" (click)="getMoviesByGenre()">
      Genre</button>
</div>


