<h2>Movies Library</h2>
<div class="movies-top-ten">
  <div><H3>Top 20 Movies of the Last 3 Months:</H3></div>
    <a *ngFor="let movie of movies">
      <div>{{movie}}</div>
      <span></span>

    </a>
  <div><H3>Top 5 Movies of this Month:</H3></div>
  <a *ngFor="let release of releases"> <div>{{release}}</div>
      <span></span>
    </a>
  </div>

  <p><a href="https://lithub.com/read-the-1985-comic-strip-that-inspired-the-bechdel-test/">Learn More Baout the Bechdel Comic Here!!</a></p>

  <app-search-movie></app-search-movie>
  <app-search-users></app-search-users>
