
<body>
  <div class="header">
  <h1>Cliché</h1>

  <p><a href="https://lithub.com/read-the-1985-comic-strip-that-inspired-the-bechdel-test/">Learn More About the Bechdel Comic Here!!</a></p>
</div>
  <div class="search">
  <div class="movieSearch">
    <app-search-movie></app-search-movie>
  </div>
  <div class="userSearch">
    <app-search-users></app-search-users>
  </div>
</div>

<div class="topMovies">
<div class="months">
  <div><H3>Top 20 Movies of the Last 3 Months:</H3></div>
    <a *ngFor="let movie of movies">
      <div>{{movie}}</div>
    </a>
  </div>

<div class="now">
  <div><H3>Top 5 Movies of this Month:</H3></div>
  <a *ngFor="let release of releases"> 
    <div>{{release}}</div>
    </a>
  </div>

  <div class="picture">
    <img class="img" src="/assets/Images/bechdelcomic.png">
  </div>
</div>
</body>
